<div class="content-container">
  <mat-card class="change-card" [class.busy]="loading">

    <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
    <mat-card-title>Passwort ändern</mat-card-title>
    <mat-divider></mat-divider>

    <mat-card-content>
      <form [formGroup]="changeFormGroup" id="change-form" (ngSubmit)="onSubmit()">

        <p>
          <mat-icon class="change-icon">lock</mat-icon>
          <mat-form-field>
            <input [type]="hidePw1 ? 'password' : 'text'" id="passwordold" name="passwordold" required matInput placeholder="Altes Passwort"
              formControlName="pwdOld">
            <mat-icon matSuffix (click)="hidePw1 = !hidePw1">{{hidePw1 ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="pwdOld.errors?.required">
              Dieses Feld ist ein
              <strong>Pflichtfeld</strong>
            </mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-icon class="change-icon">lock</mat-icon>
          <mat-form-field>
            <input [type]="hidePw2 ? 'password' : 'text'" id="passwordnew" name="passwordnew" matInput placeholder="Neues Passwort" required
              formControlName="pwdNew">
            <mat-icon matSuffix (click)="hidePw2 = !hidePw2">{{hidePw2 ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="pwdNew.errors?.required">
              Dieses Feld ist ein
              <strong>Pflichtfeld</strong>
            </mat-error>
            <mat-error *ngIf="pwdNew.errors?.minlength">
              Das neue Passwort muss mindestens
              <strong>6 Zeichen</strong> lang sein
            </mat-error>
            <mat-error *ngIf="pwdNew.errors?.maxlength">
              Das neue Passwort darf maximal
              <strong>20 Zeichen</strong> lang sein
            </mat-error>
            <mat-error *ngIf="pwdNew.errors?.pattern">
              Im Passwort müssen mindestens ein Großbuchstabe, Kleinbuchstabe, Sonderzeichen (@#$%) und eine Zahl vorkommen
            </mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-icon class="change-icon">lock</mat-icon>
          <mat-form-field>
            <input [type]="hidePw3 ? 'password' : 'text'" id="passwordnew2" name="passwordnew2" matInput placeholder="Neues Passwort wiederholen"
              required formControlName="pwdNew2">
            <mat-icon matSuffix (click)="hidePw3 = !hidePw3">{{hidePw3 ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="pwdNew2.errors?.required">
              Dieses Feld ist ein
              <strong>Pflichtfeld</strong>
            </mat-error>
            <mat-error *ngIf="pwdNew2.errors?.MatchFields">
              Die Passwörter stimmen nicht überein
            </mat-error>
          </mat-form-field>
        </p>
        <br>
        <button mat-raised-button color="accent" id="change-btn">Passwort zurücksetzen</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>