table {
  width: 100%;
}

.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.selection {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.margin {
  margin: 0 10px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.flex-item {
  align-content: left;
  align-items: center;
  padding: 5px;
  margin: 1px;
}

.mat-table {
  justify-content: baseline;
  align-content: left;
  margin: 0 1px;
}

.mat-header-cell {
  text-align: left;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.space-right {
  margin-right: 10px;
}

.divided-form {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: stretch;
}

.divided-form>div {
  width: 50%;
}

.divided-form>mat-divider {
  margin: 0 20px;
}

.divided-form mat-form-field {
  display: block;
}

.divided-form .mat-form-field-disabled .mat-input-element {
  color: rgba(0, 0, 0, 0.87);
}

.divided-form ::ng-deep .mat-form-field-underline {
  transition: opacity .2s;
}

.divided-form .mat-form-field-appearance-legacy.mat-form-field-disabled ::ng-deep .mat-form-field-underline {
  background: rgba(0, 0, 0, 0.42);
  opacity: 0;
}

.busy .mat-expansion-panel {
  pointer-events: none;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description,
.divided-form {
  transition: opacity .2s;
}

.busy .mat-expansion-panel-header-title,
.busy .mat-expansion-panel-header-description,
.busy .divided-form {
  opacity: 0.5;
}

mat-expansion-panel {
  position: relative;
}

mat-progress-bar {
  position: absolute;
}

.bold {
  font-weight: bold;
}
