<mat-nav-list>
  <h3 matSubheader>Dateiformat wählen</h3>
  <!--<a [href]="csvBlobUrl" download="scenario.csv" mat-list-item>
    <div class="title" matLine>.csv (Comma seperated value)</div>
  </a>-->
  <a [href]="jsonBlobUrl" download="scenario.json" mat-list-item (click)="closeSheet()">
    <div class="title" matLine>.json (JavaScript Object notation)</div>
    <div class="description" matLine>kann später wieder importiert werden.</div>
  </a>
  <a mat-list-item (click)="massExport()">
    <div class="title" matLine>.xlsx (Alle Szenarien im Excel exportieren)</div>
    <div class="description" matLine>kann bisher noch nicht später wieder importiert werden.</div>
  </a>
  
</mat-nav-list>
