.flex {
    display: flex;
    align-items: center;
    justify-content: stretch;
    transition: opacity .2s;
    max-width: 600px;
}

.flex.busy, .mat-dialog-content.busy {
    opacity: .5;
    pointer-events: none;
}

.flex > p {
    margin-left: 20px;
}

#select-button {
    width: 100%;
}

mat-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: opacity .2s;
    opacity: 0;
}

mat-progress-bar.busy {
    opacity: 1;
}

.mat-dialog-actions {
    justify-content: flex-end;
}
pre{
    overflow-y: auto;
    max-height: 200px;
}
@media screen and (min-height: 800px){
    pre{
        max-height: 400px;
    }
}