mat-card {
    cursor: pointer;
    flex-grow: 1;
   }

mat-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Farbzuweisung über Klassen */
.red {
    background-color: red;
}

.black{
    background-color: black;
    color: white;
}

.blue{
    background-color: blue;
    color: white;
}

.yellow{
    background-color: yellow;
}

.white{
    background-color: white;
}

.green{
    background-color: #2E7D32;
    color: white;
}

.brightgreen{
    background-color: #36C93E;
}

.purple{
    background-color: #52418A;
    color: white;
}

.brown{
    background-color: #4A2D14;
    color: white;
}

.orange{
    background-color: #C98040;
}