mat-card {
    cursor: pointer;
    flex-grow: 1;
   }

mat-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Farbzuweisung über Klassen */
.red {
    background-color: red;
}

.green{
    background-color: green;
    color: white;
}

.black{
    background-color: black;
    color: white;
}

.white{
    background-color: white;
    
}

.blue{
    background-color: blue;
    color: white;
}

.yellow{
    background-color: yellow;
}