mat-card {
    cursor: pointer;
    flex-grow: 1;
    /* hier werden momentan alle Karten einheitlich gefärbt */
    background-color: gold;
    /* so könnte vllt die Farbe zufällig gewählt werden */
    /* background-color: "rgb("+getRandomColor( 1, 250)+", "+getRandomColor( 1, 250)+", +"getRandomColor( 1, 250)+")"; */
}

mat-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}